@import "bootstrap-sprockets";
@import "bootstrap";


html {
    width: 100%;
    height: 100%;
}
body {
  width: 100%;
  height: 200%;
  margin-top: -20px;
  background: #EFF0F0;
}

.date-title{
  padding-top: 100px;
  text-align: center;
  color:#646E6E;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;

  /*text-shadow: -2px -1px #646E6E;*/
}
.election {
margin-left: 30%;
font-family: 'Source Sans Pro', sans-serif;
color:#646E6E;

}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(OSX-Checkbox-ON@2x.png) left top no-repeat;
    cursor:pointer;
}

a:hover {
	text-decoration: none;
}

.panel {
  font-size: 12px;
  color: #646E6E;
  background-color: white;
  border: none;
  margin-left: 30%;
  margin-right: 30%;
  font-family: 'Source Sans Pro', sans-serif;
}
.panel-body {
  height: 45px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
}

.panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: 1px solid #ddd;
    height: 260px;
}
.btn {
   color: white;
   background-color: #9DC4C4;
   border:none;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
   -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
   box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
   box-shadow: 0px 2px 0px #84ABAB;
}
   
.cook{
	float: left;
}
.restaurant{
	float: right;
}

#dish {
	background-color: #EAEAEA;
	width: 100%;
    height: 57px;
    margin-left: 0;
}

#recipt {
	background-color: #E1EDED;
	width: 100%;
    height: 57px;
    margin-left: 0;
}

.input-title {
	color:#B1B6B6;
	font-size: 9px;
	margin-top: -11px;
}

.trans, {
	text-decoration: none;
	background-color: #EAEAEA;
	border: 0px solid;
	width:100%;
}

.trans2, {
	text-decoration: none;
	background-color: #E1EDED;
	border: 0px solid;
	width:100%;
}

textarea:focus, .trans:focus, .trans2:focus{
    outline: 0;
}

.btn:active {
    background-color:#1E4545;
    border: none;
    text-decoration: none;
    outline: none;
	border: none;
}
.btn:hover, .btn:focus,{
    outline: none;
    background: #84ABAB;
    border: none;
    text-decoration: none;
}
.abschicken {
	text-align: center;
	padding-top: 22px;
}

.keep-rest {
	padding-top: 29px;
}
.cancel-ready {
	float: right;
	padding-top: 22px;
}

#bottom-option {
	display: inline-block;
}
